<section class="section">
  <h2 class="section__title">OUR CREATIONS</h2>
  <div class="section__image-container">
    <div class="section__text-container">
      <h3 class="section__text">DEEP</h3>
      <h3 class="section__text">EARTH</h3>
    </div>
    <img src="./images/mobile/image-deep-earth.jpg" alt="Earth image" />
  </div>
  <div class="section__image-container">
    <div class="section__text-container">
      <h3 class="section__text">NIGHT</h3>
      <h3 class="section__text">ARCADE</h3>
    </div>
    <img src="./images/mobile/image-night-arcade.jpg" alt="Arcade image" />
  </div>
  <div class="section__image-container">
    <div class="section__text-container">
      <h3 class="section__text">SOCCER</h3>
      <h3 class="section__text">TEAM VR</h3>
    </div>
    <img src="./images/mobile/image-soccer-team.jpg" alt="Soccer team image" />
  </div>
  <div class="section__image-container">
    <div class="section__text-container">
      <h3 class="section__text">THE</h3>
      <h3 class="section__text">GRID</h3>
    </div>
    <img src="./images/mobile/image-grid.jpg" alt="Grid image" />
  </div>
  <div class="section__image-container">
    <div class="section__text-container">
      <h3 class="section__text">FROM UP</h3>
      <h3 class="section__text">ABOVE VR</h3>
    </div>
    <img src="./images/mobile/image-from-above.jpg" alt="From above image" />
  </div>
  <div class="section__image-container">
    <div class="section__text-container">
      <h3 class="section__text">POCKET</h3>
      <h3 class="section__text">BOREALIS</h3>
    </div>
    <img src="./images/mobile/image-pocket-borealis.jpg" alt="Borealis image" />
  </div>
  <div class="section__image-container">
    <div class="section__text-container">
      <h3 class="section__text">THE</h3>
      <h3 class="section__text">CURIOSITY</h3>
    </div>
    <img src="./images/mobile/image-curiosity.jpg" alt="Curiosity image" />
  </div>
  <div class="section__image-container">
    <div class="section__text-container">
      <h3 class="section__text">MAKE IT</h3>
      <h3 class="section__text">FISHEYE</h3>
    </div>
    <img src="./images/mobile/image-fisheye.jpg" alt="Fisheye image" />
  </div>
</section>
