<section class="section">
  <h2 class="section__title">OUR CREATIONS</h2>
  <div class="section__image-container section__image-container--1">
    <div class="section__text-container">
      <h3 class="section__text">DEEP</h3>
      <h3 class="section__text">EARTH</h3>
    </div>
  </div>
  <div class="section__image-container section__image-container--2">
    <div class="section__text-container">
      <h3 class="section__text">NIGHT</h3>
      <h3 class="section__text">ARCADE</h3>
    </div>
  </div>
  <div class="section__image-container section__image-container--3">
    <div class="section__text-container">
      <h3 class="section__text">SOCCER</h3>
      <h3 class="section__text">TEAM VR</h3>
    </div>
  </div>
  <div class="section__image-container section__image-container--4">
    <div class="section__text-container">
      <h3 class="section__text">THE</h3>
      <h3 class="section__text">GRID</h3>
    </div>
  </div>
  <div class="section__image-container section__image-container--5">
    <div class="section__text-container">
      <h3 class="section__text">FROM UP</h3>
      <h3 class="section__text">ABOVE VR</h3>
    </div>
  </div>
  <div class="section__image-container section__image-container--6">
    <div class="section__text-container">
      <h3 class="section__text">POCKET</h3>
      <h3 class="section__text">BOREALIS</h3>
    </div>
  </div>
  <div class="section__image-container section__image-container--7">
    <div class="section__text-container">
      <h3 class="section__text">THE</h3>
      <h3 class="section__text">CURIOSITY</h3>
    </div>
  </div>
  <div class="section__image-container section__image-container--8">
    <div class="section__text-container">
      <h3 class="section__text">MAKE IT</h3>
      <h3 class="section__text">FISHEYE</h3>
    </div>
  </div>
</section>
