<footer class="footer">
  <a href="#home">
    <img class="footer__img" src="./images/logo.svg" alt="logo image" />
  </a>
  <nav class="footer__nav footer__nav--pages">
    <ul>
      <li>
        <a class="footer__link" href="#about">About</a>
      </li>
      <li>
        <a class="footer__link" href="#careers">Careers</a>
      </li>
      <li>
        <a class="footer__link" href="#events">Events</a>
      </li>
      <li>
        <a class="footer__link" href="#products">Products</a>
      </li>
      <li>
        <a class="footer__link" href="#support">Support</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__nav footer__nav--socials">
    <ul>
      <li>
        <a class="footer__link" href="https://www.facebook.com/" target="_blank"
          ><img src="./images/icon-facebook.svg" alt="facebook logo"
        /></a>
      </li>
      <li>
        <a class="footer__link" href="https://x.com/" target="_blank"
          ><img src="./images/icon-twitter.svg" alt="facebook logo"
        /></a>
      </li>
      <li>
        <a class="footer__link" href="https://ar.pinterest.com/" target="_blank"
          ><img src="./images/icon-pinterest.svg" alt="facebook logo"
        /></a>
      </li>
      <li>
        <a
          class="footer__link"
          href="https://www.instagram.com/"
          target="_blank"
          ><img src="./images/icon-instagram.svg" alt="facebook logo"
        /></a>
      </li>
    </ul>
  </nav>
  <p class="footer__text">© 2021 Loopstudios. All rights reserved.</p>
</footer>
