@use "../../../styles/styles.scss" as s;

.header {
  background-image: url("/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  padding: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
  max-height: 90%;
  &__img {
    &:last-of-type {
      justify-self: end;
      grid-column: 6 / 7;
    }
  }
  &__text {
    @include s.typography-josefin-font;
    color: s.$colors-White;
    border: 1px solid s.$colors-White;
    padding: 1.5rem 2rem;
    font-size: 2.5rem;
    grid-column: 1 / -1;
    grid-row: 4 / 7;
  }
}

// .mobile-menu {
//   position: absolute;
//   z-index: 2;
//   background-color: s.$colors-Black;
//   width: 100%;
//   height: 100%;
//   &__img {
//   }
//   &__nav {
//   }
//   &__link {
//   }
// }
