<header class="header">
  <img class="header__img" src="./images/logo.svg" alt="logo image" />
  <img
    class="header__img"
    src="./images/icon-hamburger.svg"
    alt="hamburger menu icon"
  />
  <p class="header__text">IMMERSIVE EXPERIENCES THAT DELIVER</p>
</header>

<!-- <div class="mobile-menu">
  <img class="mobile-menu__img" src="./images/logo.svg" alt="logo image" />
  <img
    class="mobile-menu__img"
    src="./images/icon-hamburger.svg"
    alt="hamburger menu icon"
  />
  <nav class="mobile-menu__nav">
    <ul>
      <li><a class="mobile-menu__link" href="#">ABOUT</a></li>
      <li><a class="mobile-menu__link" href="#">CAREERS</a></li>
      <li><a class="mobile-menu__link" href="#">EVENTS</a></li>
      <li><a class="mobile-menu__link" href="#">PRODUCTS</a></li>
      <li><a class="mobile-menu__link" href="#">SUPPORT</a></li>
    </ul>
  </nav>
</div> -->
