<div class="mobile-menu">
  <div class="mobile-menu__header">
    <img class="mobile-menu__img" src="./images/logo.svg" alt="logo image" />
    <img
      class="mobile-menu__img"
      src="./images/icon-close.svg"
      alt="hamburger menu icon"
    />
  </div>
  <nav class="mobile-menu__nav">
    <ul>
      <li><a class="mobile-menu__link" href="#">ABOUT</a></li>
      <li><a class="mobile-menu__link" href="#">CAREERS</a></li>
      <li><a class="mobile-menu__link" href="#">EVENTS</a></li>
      <li><a class="mobile-menu__link" href="#">PRODUCTS</a></li>
      <li><a class="mobile-menu__link" href="#">SUPPORT</a></li>
    </ul>
  </nav>
</div>
