@use "../../../styles/styles.scss" as s;

.mobile-menu {
  position: fixed;
  z-index: 2;
  background-color: rgba(s.$colors-Black, 1);
  width: 100%;
  height: 100%;
  padding: 2rem 1rem 2.4rem 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    &:last-of-type {
      aspect-ratio: 1/1;
      width: auto;
    }
  }
  &__nav {
    height: 90%;
    display: flex;
    align-items: center;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin: 2rem 0;
      }
    }
  }
  &__link {
    @include s.typography-josefin-font;
    font-size: 1.5rem;
    color: s.$colors-White;
    text-decoration: none;
  }
  &--opened {
    visibility: visible;
    opacity: 1;
  }
}
