@use "../../../styles/styles.scss" as s;

.section {
  margin-bottom: 3.5rem;
  &__image-container {
    width: 100%;
    height: auto;
    img {
      width: inherit;
    }
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  &__title {
    @include s.mixins-titles;
  }
  &__text {
    text-align: center;
    line-height: 1.6rem;
    color: rgba($color: s.$colors-Black, $alpha: 0.5);
    margin-bottom: 0;
  }
}
